/* game board table */

#board td {
  width: 60px;
  height: 60px;
  border: solid 1px rgb(4, 89, 92);
}

/* pieces are div within game table cells: draw as colored circles */

.dot1 {
    height: 40px;
    width: 40px;
    background-color: rgb(9, 48, 156);
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
 
  }

  .dot2 {
    height: 40px;
    width: 40px;
    background-color: rgb(175, 11, 11);
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
  }

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}


